<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Can Edit or Update or Delete any quitz</description>
        <param-name>Administrator</param-name>
        <param-value>admin</param-value>
    </context-param>
    <filter>
        <filter-name>WebFilter</filter-name>
        <filter-class>part2.WebFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/quitzs</url-pattern>
        <url-pattern>/quitzs.jsp</url-pattern>
        <url-pattern>/addquitz</url-pattern>
        <url-pattern>/addquitz.jsp</url-pattern>
        <url-pattern>/addquestion</url-pattern>
        <url-pattern>/addquestion.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>part2.FrontController</servlet-class>
        <init-param>
            <param-name>MaxQuitzs</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/quitzs</url-pattern>
        <url-pattern>/addquitz</url-pattern>
        <url-pattern>/addquestion</url-pattern>
        <url-pattern>/availquitz</url-pattern>
        <url-pattern>/question</url-pattern>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
