<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFGetHTTPMessageService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWCFGetTCPMessageService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/PublicAddress" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWCFGetHTTPMessageService"
        contract="WCFGetMsgHostService.IWCFGetHTTPMessageService" name="BasicHttpBinding_IWCFGetHTTPMessageService" />
      <endpoint address="net.tcp://localhost:8090/PrivateAddress" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IWCFGetTCPMessageService"
        contract="WCFGetMsgHostService.IWCFGetTCPMessageService" name="NetTcpBinding_IWCFGetTCPMessageService">
        <identity>
          <userPrincipalName value="win7\win7pc" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>